.outerContainer {
      background: #3F51B5;

  /* give the outermost container a predefined size */
  /* position: absolute; */
  /*  top: 0;
  bottom: 0;
  left: 0; */
  /* width: 600px; */
  
  display: flex;
  flex-direction: column;
}

.consumer {
    background-color: red;
    margin: 2rem;
    min-width: 18rem;
    width: 30%;
    border-radius: 18%;

}

.consumerHead {
    display: flex;
    /* width: 1000px; */
    flex-direction: row;

    background: white;
    flex-grow: 1;
    
    overflow: auto;
    
    /* for Firefox */
    min-height: 0;
}

.consumerButton {
    margin-left: 15%;
}

