.active {
    border-style: dotted; 
}
.consumer {
    background-color: red;
    margin: 2rem;
    min-width: 18rem;
    width: 30%;
    border-radius: 18%;
}

.activeConsumer {
    background-color: red;
    margin: 2rem;
    min-width: 18rem;
    width: 30%;
    border-radius: 18%;
    border-style: dotted; 
}

.newConsumer {
    background-color: grey;
    margin: 2rem;
    min-width: 18rem;
    width: 30%;
    border-radius: 18%;
}

.consumerHead {
    display: flex;
    /* width: 1000px; */
    flex-direction: row;

    background: white;
    flex-grow: 1;
    
    overflow: auto;
    
    /* for Firefox */
    min-height: 0;
}

.consumerButton {
    margin-left: 15%;
}




