.consumer {
    background-color: red;
    margin: 2rem;
    min-width: 18rem;
    width: 30%;
    border-radius: 18%;

}

.consumerHead {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
}

.consumerButton {
    margin-left: 15%;
}